/* LARGE MOBILE */
@media screen and (min-width: 576px) {
  .social-networks button {
    flex: 1;
  }
}


.presentation img {
  float: left;
  margin: 0 15px 10px 0;
}
/* TABLET */
@media screen and (min-width: 768px) {
  
}


/* DESKTOP */
@media screen and (min-width: 992px) {
  
}